.container-indicateur {
    margin-top: 20px;
    padding: 0 15px;
}

.nav-indicateur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9fb;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-indicateur .nav-item {
    padding: 10px 15px;
    color: #5585b5;
    text-decoration: none;
}

.nav-indicateur .nav-item.active {
    border-bottom: 3px solid #5585b5;
    color: #5585b5;
}

.divider-indicateur {
    margin: 10px 0;
    border-top: 1px solid #ddd;
}

.btn-return {
    margin-left: auto;
    background-color: #5585b5;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.commentaire-card-header {
    background-color: #f6d164;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-indicateur {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header-indicateur {
    background-color: #5585b5;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body-indicateur {
    padding: 15px;
}

.img-indicateur {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #f6d164;
}

.form-label-indicateur {
    font-weight: bold;
    color: #5585b5;
}

.form-control-indicateur {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.form-control-indicateur.is-invalid {
    border-color: #5585b5;
}

.invalid-feedback-indicateur {
    color: #f6d164;
    font-size: 0.875em;
}

.form-check-indicateur {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-check-input-indicateur {
    margin-right: 10px;
}

.form-check-label-indicateur {
    color: #5585b5;
}

.btn-save-indicateur {
    background-color: #5585b5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-delete-indicateur {
    background-color: #e51010;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
