
.indicateur-view-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.indicateur-view-btn {
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 10px;
}

.indicateur-active {
    color: #5585b5;
}

.indicateur-formation-title {
    font-size: 24px;
    color: #5585b5; 
    text-align: left;
    margin-bottom: 20px;
}

.indicateur-button-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
}

.indicateur-button-add, .indicateur-retour {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid;
    background: none;
}

.indicateur-button-add {
    color: #5585b5; 
}

.indicateur-retour {
    color: #ccc;
}
.risk-search-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;;
}
.indicateur-search-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;;
}
.risk-search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
}

.risk-filter-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
}


.indicateur-styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.indicateur-table-header {
    background-color: #5585b5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

.indicateur-styled-table th, .indicateur-styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.indicateur-styled-table td{
    border-bottom: 1px solid #dddddd;
}

.indicateur-styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.indicateur-styled-table tbody tr:hover {
    background-color: #f1f1f1;
}
.text-center {
    text-align: center;
}

.indicateur-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.indicateur-responsable-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.indicateur-responsable-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: rgb(70, 68, 169);
}

.indicateur-responsable-info p {
    flex: 1;
    text-align: center;
}

.indicateur-responsable-text {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: #011830;
}

.btn-view-details {
    color: #5585b5;
    font-size: 1.1em;

    margin-right: 10px;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #5585b5;
 
}

.text-center {
    text-align: center;
}
