.doc-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-bottom: 50px;
    margin-top: 1rem;
    color: rgb(70, 68, 169);
}
.search-input-doc {
    width: 100%;
    max-width: 1200px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    margin-top: 20px;
}
.search-input-doc:focus {
    border-color: #054808;
    outline: none;
}
.view-btn-doc.active {
    background-color: #76ab78;
    color: white;
    border-color: #76ab78;
}
.view-btn-doc {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.card-header--{
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: #77c17a;
    border-bottom: 1px solid #77c17a;
    color: #fff;
}
.p-doc{
    color: #216629;
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: 600;
}