
.container-fournisseur {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.nav-fournisseur {
    display: flex;
  
    margin-bottom: 15px;
    background-color: #f9f9fb;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-fournisseur .nav-item {
    padding: 10px 15px;
    color: #5585b5;
    text-decoration: none;
    cursor: pointer;
}

.nav-fournisseur .nav-item.active {
    border-bottom: 3px solid #5585b5;
    color: #f6d164;
}


.divider {
    margin: 10px 0;
    border-top: 1px solid #ddd;
}

.card-fournisseur {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header-fournisseur {
    background-color: #f6d164;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body-fournisseur {
    padding: 15px;
}


.img-fournisseur {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #f6d164;
}


.form-label-fournisseur {
    font-weight: bold;
    color: #5585b5;
}

.form-control-fournisseur {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.form-control-fournisseur.is-invalid {
    border-color: #f6d164;
}

.invalid-feedback {
    color: #f6d164;
    font-size: 0.875em;
}


.form-check-fournisseur {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-check-input-fournisseur {
    margin-right: 10px;
}

.form-check-label-fournisseur {
    color: #5585b5;
}


.btn-save-fournisseur {
    background-color: #5585b5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-delete-fournisseur {
    background-color: #e51010;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
