.fournisseur-dashboard {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.fournisseur-view-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.fournisseur-view-btn {
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 10px;
}

.fournisseur-active {
    color: #5585b5;
}

.fournisseur-formation-title {
    font-size: 24px;
    color: #f6d164;
    text-align: left;
    margin-bottom: 20px;
}

.fournisseur-button-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
}

.fournisseur-button-add, .fournisseur-retour {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid ;
    background: none;
}

.fournisseur-button-add {
    color: #5585b5;
}

.fournisseur-retour {
    color: #ccc;
}

.fournisseur-search-container {
    text-align: center;
    margin-bottom: 20px;
}

.fournisseur-search-input {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.fournisseur-styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.fournisseur-styled-table thead tr {
    background-color: #f6d164;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.fournisseur-styled-table th, .fournisseur-styled-table td {
    padding: 12px 15px;
}

.fournisseur-styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.fournisseur-styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.fournisseur-styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.text-center {
    text-align: center;
}

.fournisseur-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.fournisseur-responsable-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.fournisseur-responsable-info {
    flex: 1;
    text-align: center;
}

.fournisseur-responsable-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: rgb(70, 68, 169);
}

.fournisseur-responsable-text {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: #011830;
}

.btn-view-details {
    border: none;
    background: none;
    cursor: pointer;
    color: #5585b5;
}

.fournisseur-responsable-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
