.risk-dashboard {
    background: #fff;
    padding: 20px;
    
   
}

.risk-view-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}


.risk-view-btn {
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 10px;
}

.risk-active {
    color: #5585b5;
}

.risk-formation-title {
    font-size: 24px;
    color: #5585b5;
    text-align: left;
    margin-bottom: 20px;
}

.risk-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.risk-button-add,
.risk-retour {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid;
    background: none;
}

.risk-button-add {
    color: #5585b5;
}

.risk-retour {
    color: #ccc;
}

.risk-search-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;;
}

.risk-search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
}

.risk-filter-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.risk-styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.risk-styled-table thead tr {
    background-color: #5585b5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

.risk-styled-table th,
.risk-styled-table td {
    padding: 12px 15px;
}

.risk-styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.risk-styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.risk-styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.risk-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.risk-responsable-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
    
}

.risk-responsable-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: rgb(70, 68, 169);
}

.risk-responsable-text {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: #011830;
}

.risk-responsable-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.risk-btn {
    color: #5585b5;
}
