.conformite-dashboard {
    padding: 20px;
    background: #fff;
}



.conformite-view-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.conformite-view-btn {
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 10px;
}



.conformite-active {
    color: #5585b5;
}

.conformite-formation-title {
    font-size: 24px;
    color: #5585b5;
    text-align: left;
    margin-bottom: 20px;
}

.conformite-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.conformite-retour, .conformite-button-add {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid;
    background: none;
}
.conformite-button-add{
    color: #5585b5;
}
.conformite-retour{
    color: #ccc;
}

.conformite-search-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.conformite-filter-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.conformite-search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
}

.conformite-styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.conformite-styled-table th, .conformite-styled-table td {
    padding: 12px 15px;
  
}

.conformite-styled-table th {
    background-color: #5585b5;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.conformite-styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.conformite-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.conformite-responsable-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conformite-responsable-item h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: rgb(70, 68, 169);
}

.conformite-responsable-item p {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: #011830;
}

.conformite-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #5585b5;
}

.conformite-btn:hover {
    color: #5585b5;
}


