.module-card {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.5s ease;
    color: inherit;
}



.icon-wrapper {
    font-size: 2.25rem;
    margin-bottom: 20px;
    color: #6c476e;
    transition: font-size 0.3s ease; 
}



.module-title {
    margin: 0;
    font-size: 1.2rem;
    color: #6c476e;
    transition: font-size 0.3s ease; 
}


.bg-color-1 { background-color: #BBDEFB; }
.bg-color-2 { background-color: #C8E6C9; }
.bg-color-3 { background-color: #FFCDD2; }
.bg-color-4 { background-color: #FFECB3; }
.bg-color-5 { background-color: #D1C4E9; }
.bg-color-6 { background-color: #B2EBF2; }
.bg-color-7 { background-color: #FFE0B2; }
.bg-color-8 { background-color: #C5CAE9; }
.bg-color-9 { background-color: #DCEDC8; }
.bg-color-10 { background-color: #F8BBD0; }
.bg-color-11 { background-color: #F0F4C3; }
