.color {
    background-color: #5585b5 !important;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-card {
    background-color: #ffffff;
    border-radius: 1rem;
    max-width: 500px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-title {

    text-align: center;
}

.error-message {
    color: #dc3545;
}

.login-form {
    margin-top: 1.5rem;
}

.forgot-password-link {
    margin-top: 1rem;
    text-align: center;
}

.register-link {
    margin-top: 1rem;
    text-align: center;
}

.button-log {
    background-color: #5585B5;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}


.button-log:hover {
    background-color: #4495d1;
}

.button-log:active {
    background-color: #4495d1;
}
.section-container {
    background-color: white; 
    padding: 10px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.centered-text {
    text-align: center;
    font-family: Roboto;
    font-weight:  800 ;
    color: #4495d1; 
    font-size: 33px; /* or any size you prefer */
}

.content-with-navbar-margin {
    margin-top: 38px; 
    margin-bottom: 38px;
}
.link {
    font-family: Lato;
    font-size: 15px;
}
.link-page
{
color: #4495d1;
}


.error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}