/* navbar.css */
.gradient-navbar {
    background: linear-gradient(45deg, #5585B5, #4495d1, #BBDEFB);
    background-size: 200% 200%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-brand img {
    max-height: 30px;
}

.nav-linkk {
    color: white;
}

.nav-linkk:hover {
    color: #d1ecf1;
}

.dropdown-menu a {
    color: rgb(253, 249, 249);
}

.dropdown-menu a:hover {
    color: #5585B5;
    background-color: #e9ecef;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.white {
    color: white;
}