.navbar {
  background-color: #436b93;
  border-bottom: 1px solid #ddd;
  
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  
}

.nav-link {
  transition: color 0.3s;
}

.nav-link.active {
  font-weight: 400;
  
}

.nav-link:hover {
  color: #0056b3;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,...');
}

.dropdown-menu {
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #3c4245;

}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #87838358;
  color: #ffffff;
}

.title-color-navbar {
  color: #ffffff;
  background-color: transparent;
  margin-right: 10px;
}
.bmg{
  color: #fff;
  
}