.container {
    padding: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.img-thumbnail {
    border-radius:none;
}

.ratings {
    margin-top: 10px;
}

.table-user-information {
    margin-top: 20px;
    border: none;
}

.table-user-information tr,
.table-user-information td {

        border-right: none ;
        border-left: none;
}

.text-primary {
    color: #000000;
}

.document-card-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.document-card-buttons .btn {
    margin-left: 10px;
}

.error-message {
    color: red;
}
