
body {
    background: #f9f9fb;
}

.container-client {
    margin-top: 20px;
    background: #FFFFFF;
    padding: 30px;
}

.nav-client {
    display: flex;
    margin-bottom: 15px;
    background-color: #f9f9fb;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-client .nav-item-client {
    padding: 10px 15px;
    color: #5585b5;
    text-decoration: none;
    cursor: pointer;
}

.nav-client .nav-item-client.active {
    color:#5585b5;
    border-bottom: 2px solid#5585b5;
}

.divider-client {
    margin: 10px 0;
    border-top: 1px solid #ddd;
}

.card-client {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header-client {
    background-color: #5585b5;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.img-client {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.form-label-client {
    font-weight: bold;
    color: #5585b5;
}

.form-control-client {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.form-control-client.is-invalid {
    border-color: #e47a85;
}

.invalid-feedback {
    color: #e47a85;
    font-size: 0.875em;
}

.form-check-client {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-check-input-client {
    margin-right: 10px;
}

.form-check-label-client {
    color: #5585b5;
}


.btn-save-fournisseur {
    background-color: #0663c1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-delete-fournisseur {
    background-color: #e51010;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.mt-4 {
    margin-top: 1.5rem;
}

.ms-3 {
    margin-left: 1rem;
}
