body {
    background: #f9f9fb;
}

.card-header {
    background-color: #e47a85;
}

.img-account-profile {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.container-xl {
    margin-top: 20px;
    background: #FFFFFF;
    padding: 30px;
}

.nav-borders .nav-link.active {
    color: #5585b5;
    border-bottom: 2px solid #40babd;
}

.btn-primary {
    background-color: #5585b5;
    border-color: #5585b5;
    margin: 20px;
}

.btn-danger {
    background-color: #5585b5;
    border-color: #5585b5;
}
