.container {
    margin: 2rem auto;
    max-width: 1200px;
}

.table-container {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.formation-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Apple Chancery', cursive, sans-serif;
    margin-top: 1rem;
    color: rgb(70, 68, 169);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.button-add,
.retour {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-add {
    background-color: #5585b5;
    color: white;
}

.retour {
    background-color: #ccc;
    color: black;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    color: #212529;
    border: 1px solid #5585b5; 
    border-radius: 10px;
}

.table th,
.table td {
    vertical-align: middle;
    padding: 0.75rem;
    border: 1px solid rgb(246, 249, 249);
    border-radius: 5px;
}

.table-header th {
    background-color: #5585b5;
    color: white; 
    border: 1px solid #ddd; 
}

.text-center {
    text-align: center;
}
