/* Styles pour les détails de la formation */
.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    margin-bottom: 20px;
}

.detail {
    margin-bottom: 10px;
}

.button-group {
    margin-top: 20px;
}

.button-group .btn {
    margin-right: 10px;
}
