.module-card {
  margin-top: 40px;
}

.bg-color1 {
  background-color: #BBDEFB;
  color: #27296d;
}

/*ajout responsable*/

.form-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-bottom-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="file"]:focus {
  border-bottom-color: #333;
}

.form-group input[type="checkbox"] {
  margin-left: 10px;
}



button.btn-success {
  background-color: #28a745;
  color: #fff;
  margin-right: 10px;
}

button.btn-gray {
  background-color: #6c757d;
  color: #fff;
}

button.btn-gray:hover {
  background-color: #5a6268;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}
.ajout-form {
  background: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 10%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.ajout-form .form-control {
  border-radius: 1rem;
}

.ajout-form form {
  padding: 4%;
}

.ajout-form form .row {
  margin-bottom: -7%;
}

.contact-image {
  text-align: center;

}

.contact-image img {
  border-radius: 6rem;
  width: 8%;
  margin-top: -3%;
}

.ajout-form h3 {
  margin-bottom: 4%;
  text-align: center;
  color: #0062cc;
}

.ajout-form h4 {
  margin-top: 1%;
  color: #0062cc;
}


.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.button-add {
  border-radius: 1rem;
  color: #0062cc;
  background-color: transparent;
  border: 2px solid #0062cc;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: none;
  justify-items: center;
}

.retour {
  border-radius: 1rem;
  color: #717078;
  background-color: transparent;
  border: 2px solid #717078;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: none;
  justify-items: center;
  margin-left: 10px;

}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.checkbox-container label {
  margin-left: 0.5em;
  font-size: 1rem;
  color: #333;
}

.checkbox-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.criteria-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}

.criteria-label {
  flex: 1;
  margin-right: 1em;
}

.criteria-input {
  flex: 2;
  margin-right: 1em;
}

.remove-icon {
  cursor: pointer;
  margin-left: 10px;
}
