.card .card-header- {
    font-weight: 500;
}
.card-header-:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header- {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: #5585b5;
    border-bottom: 1px solid #5585b5;
    color: #fff;
}