.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
  }
  
  .card-body {
    padding: 10px 0;
  }
  
  .card-body p {
    margin-bottom: 5px;
  }
  
  .document-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.document-card-buttons .btn {
    margin: 0 5px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.pdf-button {
    background-color: #007bff;
    color: #fff;
}

.pdf-button:hover {
    background-color: #0056b3;
}

.dashboard-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dashboard-buttons .btn {
    margin: 0 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
}

  